<header class="sticky-top header-area">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand">PORTFOLIO</a>
            <i class="fa-solid fa-bars toggle-icon d-block d-lg-none"  data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"></i>
    
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" (click)="scroll('contact-section')">Contact me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" (click)="scroll('experiences')">Experinences</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="scroll('about-section')">About me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="scroll('project-section')">Projects</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>