.navbar-brand {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
}

.navbar-nav {
    .nav-link {
        color: #ffffff !important;
        cursor: pointer;
        padding-left: 30px;
        padding-right: 30px;

        &:hover,
        .active {
            color: #ffffff !important;
        }
    }
}

.toggle-icon {
    font-size: 20px;
    color: #000000;
    font-weight: 500;
}

.background-header {
    background: rgb(219, 138, 222) !important;
    background: linear-gradient(-145deg, rgba(219, 138, 222, 1) 0%, rgba(246, 191, 159, 1) 100%) !important;
    height: 80px !important;
    position: fixed !important;
    top: 0 !important;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
}

.header-area {
    background-image: url('./../../../assets/images/header-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

.header-area .main-nav {
    min-height: 108px;
    background: transparent;
}

.header-area.header-sticky {
    min-height: 108px;
}

@media screen and (max-width: 768px) {}