.header-area {
    background: linear-gradient(-145deg, rgba(219, 138, 222, 1) 0%, rgba(246, 191, 159, 1) 100%);
    background-size: cover;
    padding: 16px 0;
    z-index: 100;    
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}
.navbar{
    .show {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    }
}
.navbar-brand {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
}

.navbar-nav {
    .nav-link {
        color: #ffffff !important;
        cursor: pointer;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 18px;
        font-weight: 400;

        &:hover,
        .active {
            color: #ffffff !important;
        }
    }
}

.toggle-icon {
    font-size: 20px;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .header-area {
        background: linear-gradient(-145deg, rgba(219, 138, 222, 1) 0%, rgba(246, 191, 159, 1) 100%) !important;
    }
    .navbar-nav {
        .nav-item{
            border-bottom: 2px solid #fff;
        }
    }
}